@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300;400;500;600;700;800&family=Rouge+Script&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
    font-family: 'Open Sans', sans-serif;
  }
  
  main {
    min-height: 83vmin;
    padding-bottom: 69px;
    width: 100%;
    margin: auto;
  }
  .slick-next:before,
.slick-prev:before {
  color: #37BE91!important;
  font-size: 2rem!important;
}

.slick-dots li button:before{
  color: #37BE91!important;
}

  